<div class="bg-color ">
    <div class="container bg-back-color  border rounded-sm">
        <h1 class="text-center text-danger h-50">SORRY!</h1>
        <p class="text-center">Page Not Found</p>


    </div>
</div>