.sanitizedHtml {
    font-family: sans-serif;
}

.sanitizedHtml pre {
    background-color: black;
    padding: 1rem;
    color: wheat;
    border-radius: 7px;
    font-size: 14px;
    font-family: Consolas, 'Courier New', monospace;
}

.li-link-article {
    text-decoration: none;
    color: rgb(231, 219, 219);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.comment-box {
    height: 80vh;
    overflow-y: auto;
}

.main-father {
    padding: 1rem;
    background-color: #e9ecef;
}