<title>Contact| Aamir Bhat</title>
<div class="bg-color ">
    <div class="container bg-back-color py-3 border rounded">
        <div class="text-center">
            <h6>Contact Me</h6>
        </div>
        <form action="" method="post" class="">
            <input type="text" name="name" id="" placeholder="Name" class="form-control my-1">
            <input type="email" name="email" id="" placeholder="Email" class="form-control my-1">
            <textarea name="message" id="" placeholder="Message" class="form-control my-1"></textarea>
            <button type="submit" class="btn btn-dark"> Send</button>

        </form>
    </div>
</div>